<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
<h1>My recipes!</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Directions</th>
        <th>Prep-Time</th>
        <th>Difficulty</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"> 123 </td>
        <td th:text="${recipe.description}"> Tasty goodness </td>
        <td th:text="${recipe.directions}"> Tasty goodness </td>
        <td th:text="${recipe.prepTime}"> df </td>
        <td th:text="${recipe.difficulty}"> df </td>
    </tr>

</table>

</body>
</html>